.App {
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.cardstock {
  transition: all 0.3s;

}

.cardstock:hover {
  transform:scale(1.1);
}

.grid-layout {
  margin: 1rem;
  display:flex;

}

.desc {
  max-width:50vw;
}

.row {
  display:flex;
  align-items:center;
  justify-content: center;
}

.title-desc {
  font-size: 1.5rem;
}
.title-bg {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height: 50vh;
  max-width:100vw;
  background:black;
}

.title:hover {

  transform:scale(1.1);
}

.title {  
  transition:all 0.3s;
  padding: 1rem;
  border-radius:1rem;
  background:linear-gradient(60deg, rgb(93, 64, 255), rgb(200, 16, 200), rgb(255, 38, 0), rgb(255, 136, 0));
  animation-name: gradient;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count:infinite;
  background-size: 200% 200%;
  font-size:3rem; 
  }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
